.navbar {
  height: 60px;
  width: 100%;
  background-color: rgb(19, 25, 33);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
}

.logo {
  margin: 1px;
  margin-left: 4px;
}

.searchBar {
  border-radius: 4px;
  height: 40px;
  display: flex;
  gap: 0px;
}

.searchFilter {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 40px;
  border: none;
  background-color: #f3f3f3;
}

.searchInput {
  height: 40px;
  border: none;
  max-width: 667px;
  width: 667px;
}

.searchAction {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  width: 45px;
  height: 40px;
  background-color: rgb(254, 189, 105);
}

.account {
  width: 146px;
  color: #fff;
}

.navText1,
.navText2 {
  padding: 0 1px;
  margin: 0;
}

.navText1 {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navText2 {
  margin-top: -5px;
  font-size: 14px;
  font-weight: bold;
}

.subBar {
  background-color: #232f3e;
  height: 39px;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
}

.categoryList {
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 14px;
}

